The Nobel Prize has been among the most prestigious international awards since 1901. Each year, awards are bestowed in chemistry, literature, physics, physiology or medicine, economics, and peace. In addition to the honor, prestige, and substantial prize money, the recipient also gets a gold medal with an image of Alfred Nobel (1833 - 1896), who established the prize.

![](Nobel_Prize.png)

The Nobel Foundation has made a dataset available of all prize winners from the outset of the awards from 1901 to 2023. The dataset used in this project is from the Nobel Prize API and is available in the `nobel.csv` file in the `data` folder.

In this project, you'll get a chance to explore and answer several questions related to this prizewinning data. And we encourage you then to explore further questions that you're interested in!

In [282]:
# Loading in required libraries
import pandas as pd
import seaborn as sns
import numpy as np

# Start coding here!

In [283]:
df=pd.read_csv('data/nobel.csv')
type(df)

pandas.core.frame.DataFrame

In [284]:
df.head()

   year    category  ... death_city death_country
0  1901   Chemistry  ...     Berlin       Germany
1  1901  Literature  ...   Châtenay        France
2  1901    Medicine  ...    Marburg       Germany
3  1901       Peace  ...     Heiden   Switzerland
4  1901       Peace  ...      Paris        France

[5 rows x 18 columns]

In [285]:
top_gender = df.value_counts('sex')
top_gender = top_gender.index[0]
top_gender = str(top_gender)
top_gender

'Male'

In [286]:
top_country = df.value_counts('birth_country').index[0]
top_country

'United States of America'

In [287]:
df1 = df[['year','birth_country']]
df1 = df1[df1['birth_country'] == 'United States of America']
df1.head()

     year             birth_country
35   1906  United States of America
72   1912  United States of America
79   1914  United States of America
95   1919  United States of America
117  1923  United States of America

In [288]:
df1['decade'] = (df1['year'] // 10) * 10
df1 = df1.groupby('decade')['birth_country'].count()
df1.head()

decade
1900     1
1910     3
1920     4
1930    14
1940    13
Name: birth_country, dtype: int64

In [289]:
df2=pd.DataFrame(df1)
df2['contribution'] = round(df2['birth_country']/df2['birth_country'].sum()*100,2)
df2 = df2.sort_values('contribution', ascending=False)
max_decade_usa = int(df2.index[0])
max_decade_usa

2000

In [290]:
df['is_female'] = df['sex'] == 'Female'
df['decade'] = (df['year'] // 10) * 10

In [291]:
df3 = df.groupby(['decade', 'category'], as_index=False)['is_female'].mean()
df3.head()

   decade    category  is_female
0    1900   Chemistry   0.000000
1    1900  Literature   0.100000
2    1900    Medicine   0.000000
3    1900       Peace   0.071429
4    1900     Physics   0.076923

In [292]:
max_mean = df3['is_female'].max()
df3 = df3[df3['is_female'] == max_mean]
df3 = df3[['decade', 'category']]
df3

    decade    category
68    2020  Literature

In [293]:
max_female_dict = {df3.iloc[0,0]:df3.iloc[0,1]}
max_female_dict

{2020: 'Literature'}

In [294]:
df5 = df.sort_values('year')
df5 = df5[['year','category','full_name','sex']]
df5.head()

   year    category                     full_name   sex
0  1901   Chemistry  Jacobus Henricus van 't Hoff  Male
1  1901  Literature               Sully Prudhomme  Male
2  1901    Medicine        Emil Adolf von Behring  Male
3  1901       Peace             Jean Henry Dunant  Male
4  1901       Peace                Frédéric Passy  Male

In [295]:
df5 = df5[df5['sex'] == 'Female']
first_woman_name = df5.iloc[0,2]
first_woman_category = df5.iloc[0,1]
print(first_woman_name)
print(first_woman_category)

Marie Curie, née Sklodowska
Physics

In [296]:
df6 = df['full_name'].value_counts()
df7 = pd.DataFrame(df6)
df7 = df7[df7['full_name'] >= 2]
repeat_list = list(df7.index)
repeat_list

['Comité international de la Croix Rouge (International Committee of the Red Cross)',
 'Linus Carl Pauling',
 'John Bardeen',
 'Frederick Sanger',
 'Marie Curie, née Sklodowska',
 'Office of the United Nations High Commissioner for Refugees (UNHCR)']