![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [110]:
# Import necessary packages
import pandas as pd
import numpy as np

# Begin coding here ...
# Use as many cells as you like

In [111]:
df_price = pd.read_csv('data/airbnb_price.csv')
df_room = pd.read_excel('data/airbnb_room_type.xlsx')
df_review = pd.read_csv('data/airbnb_last_review.tsv', sep='\t')

In [112]:
print(df_price.head(5))
print(df_room .head(5))
print(df_review.head(5))

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown
   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt
   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [113]:
df_total = df_price.merge(df_room, on='listing_id', how='outer')
df_total = df_total.merge(df_review, on='listing_id' ,how='outer')
df_total.head()

   listing_id        price  ...    host_name   last_review
0        2595  225 dollars  ...     Jennifer   May 21 2019
1        3831   89 dollars  ...  LisaRoxanne  July 05 2019
2        5099  200 dollars  ...        Chris  June 22 2019
3        5178   79 dollars  ...     Shunichi  June 24 2019
4        5238  150 dollars  ...          Ben  June 09 2019

[5 rows x 7 columns]

In [114]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
 3   description  25199 non-null  object
 4   room_type    25209 non-null  object
 5   host_name    25201 non-null  object
 6   last_review  25209 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.5+ MB

In [115]:
df_total['last_review'] = pd.to_datetime(df_total['last_review'])
earliest_review = min(df_total['last_review'])
recent_review = max(df_total['last_review'])
print(earliest_review)
print(recent_review)

2019-01-01 00:00:00
2019-07-09 00:00:00

In [116]:
df_total['room_type'].unique()

array(['Entire home/apt', 'private room', 'Private room',
       'entire home/apt', 'PRIVATE ROOM', 'shared room',
       'ENTIRE HOME/APT', 'Shared room', 'SHARED ROOM'], dtype=object)

In [117]:
df_lower = df_total['room_type'].str.lower()
df_lower.head()

0    entire home/apt
1    entire home/apt
2    entire home/apt
3       private room
4    entire home/apt
Name: room_type, dtype: object

In [118]:
df_lower_count = df_lower.value_counts()
df_lower_count

entire home/apt    13266
private room       11356
shared room          587
Name: room_type, dtype: int64

In [119]:
private_room = df_lower_count.iloc[1]
private_room

11356

In [120]:
df_total['price'] = df_total['price'].str.replace('dollars','')

In [121]:
df_total['price'] = df_total['price'].astype(float)
df_total['price'].info()

<class 'pandas.core.series.Series'>
Int64Index: 25209 entries, 0 to 25208
Series name: price
Non-Null Count  Dtype
--------------  -----
25209 non-null  float64
dtypes: float64(1)
memory usage: 393.9 KB

In [122]:
average_price = df_total['price'].mean()
average_price = round(average_price,2)
average_price

141.78

In [123]:
data = {
    'first_reviewed': earliest_review,
    'last_reviewed': recent_review,
    'nb_private_rooms': private_room,
    'avg_price' : average_price
}

In [124]:
review_dates = pd.DataFrame([data])
review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78